.statistics .ant-statistic-content {
  font-size: 14px;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .statistics .ant-statistic-content {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .statistics .ant-statistic-content {
    font-size: 24px;
  }
}
