.logo {
  float: left;
  /* width: 120px;
  height: 31px; */
  /* margin: 16px 24px 16px 0; */
  /* background: rgba(255, 255, 255, 0.2); */
}

.siteLayout {
  margin-top: 64px;
}

.siteLayoutContent {
  padding: 24px;
  min-height: 380px;
}

.searchContainer {
  margin-top: 20px;
}

.footer {
  text-align: center;
}
@media (min-width: 992px) {
  .siteLayout {
    padding: 0 50px;
  }
}
